body {
    		text-align: center;
    		
 		}
 		
	 	.cover-container {
	 		background-image: url('https://blogs.nottingham.ac.uk/careers/files/2020/01/Close-up-hands-working-on-a-laptop-and-notepad.jpg');
			  background-size: cover;
			  background-repeat: no-repeat;
			  height: 700px;			
	 	}

	 	.cover-heading {
	 		color: white;
	 		margin-top: 200px;
	 		margin-bottom: 25px;
	 	}
	 	.lead {
	 		color: white;
	 	}
	 	.p {
	 		text-align: center;
	 		width: 200px;
	 		line-height: 1.6;
	 		display: inline-block;
	 	}
 		.intro {
 			margin-top: 50px;
 		}
 		.google {
 			display: inline-block;
 			width: 80px;
 			height: 60px;
 			margin-right: 80px;
 			opacity: 0.7;
 			filter: grayscale(0.5);
 		
 		}
 		.google:hover {
 			opacity: 1;
 			filter: grayscale(0);
 		}
 		.pinterest {
 			display: inline-block;
 			width: 80px;
 			height: 60px;
 			border-radius: 10px;
 			margin-right: 80px;
 			opacity: 0.7;
 			filter: grayscale(0.5);
 		}
 		.pinterest:hover {
 			opacity: 1;
 			filter: grayscale(0);
 		}
 		.samsung {
 			display: inline-block;
 			width: 80px;
 			height: 60px;
 			margin-right: 80px;
 			opacity: 0.7;
 			filter: grayscale(0.5);
 		}
 		.samsung:hover {
 			opacity: 1;
 			filter: grayscale(0);
 		}
 		.flickr {
 			display: inline-block;
 			width: 80px;
 			height: 60px;
 			margin-right: 80px;
 			opacity: 0.7;
 			filter: grayscale(0.5);
 		}
 		.flickr:hover {
 			opacity: 1;
 			filter: grayscale(0);
 		}
 		.foursquare {
 			display: inline-block;
 			width: 80px;
 			height: 60px;
 			margin-right: 80px;
 			opacity: 0.7;
 			filter: grayscale(0.5);
 		}
 		.foursquare:hover {
 			opacity: 1;
 			filter: grayscale(0);
 		}
 		.card {
 			width: 250px;
 			height: 200px;
 			display: inline-block;
 			filter: grayscale(1);
 		}
 		.card:hover {
 			filter: grayscale(0);
 		}
 		.card4 {
 			width: 250px;
 			height: 200px;
 			display: inline-block;
 			
 			border: 3px solid black;
 		}
 		.button {
 			
 			text-align: center;
 			width: 100px;
 			height: 30px;
 			margin-top: 70px;

 		}
 		.embed-responsive {
 			height: 300px;
 			filter: grayscale(1);
 		}
 		.embed-responsive:hover {
 			filter: grayscale(0);
 		}
 		.twitter {
 			display: inline-block;
 			width: 20px;
 			height: 20px;
 			
 			opacity: 0.7;
 			filter: grayscale(1);
 		}
 		.twitter:hover {
 			opacity: 1;
 			filter: grayscale(0);
 		}
 		.facebook {
 			display: inline-block;
 			width: 20px;
 			height: 20px;
 			
 			opacity: 0.7;
 			filter: grayscale(1);
 		}
 		.facebook:hover {
 			opacity: 1;
 			filter: grayscale(0);
 		}
 		.linkedin {
 			display: inline-block;
 			width: 20px;
 			height: 20px;
 			filter: grayscale(1);
 		}
 		.linkedin:hover {
 			opacity: 1;
 			filter: grayscale(0);
 		}
 		.vimeo:hover {
 			opacity: 1;
 			filter: grayscale(0);
 		}
 		.vimeo {
 			display: inline-block;
 			width: 20px;
 			height: 20px;
 			
 			opacity: 0.7;
 			filter: grayscale(1);
 		}
 		.form-group {
 			color: white;
 		}
 		.navbar-brand {
 			font-size: 30px;
 			text-decoration: bold;
 		}